body {
	cursor: url(http://rgtcvqsql.hb-bkt.clouddn.com/%E9%BC%A0%E6%A0%87%2Farrow.png), auto !important;
}

.hide-block > .hide-button.open,
.hide-inline > .hide-button.open {
	display: block;
}

a,
button,
img {
	cursor: url(http://rgtcvqsql.hb-bkt.clouddn.com/%E9%BC%A0%E6%A0%87%2Farrow.png), auto !important;
}
